*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.top-menu .nav-top-menu .nav-ul-top-menu {
    list-style-type: none;
    margin: 0;
    padding: 0px 26pc;
    overflow: hidden;
    text-align: center;
    background-color: black;
}
.top-menu .nav-top-menu .nav-ul-top-menu li {
    float: left;
}
.top-menu .nav-top-menu .nav-ul-top-menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 15px;
    font-family: Roboto, sans-serif;
}
.top-menu .nav-top-menu .nav-ul-top-menu li a i {
    margin: 0px 7px;
    
}
.top-menu .nav-top-menu .nav-ul-top-menu li a:hover {
    background-color:#900000 ;
}
/* ================menu-second=============== */
.menu-second{
    display: inline-flex;
    margin: 10px 0pc 0px 27.5pc;
}

/* ========Search====== */
form.example input[type=text] {
    position: absolute;
    margin-top: 14px;
    margin-left: 70px;
    padding:0px 10px;
    font-size: 14px;
    font-family: Roboto, sans-serif;
    border: 1px solid #C0C0C0;
    border-radius: 20px; ;
    float: left;
    width: 435px;
    height: 35px;
    background: #E9E9E9;
}
  
form.example button {
    position: relative;
    float: right;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    margin: 14px 0px 20px 29.4pc;
    padding: 0px 10px;
    background: #900000;
    color: white;
    font-size: 14px;
    border: 1px solid #900000;
    border-left: none;
    cursor: pointer;
}


form.example::after {
content: "";
clear: both;
display: table;
}
.search-app{
    display: none;
}

.icon-user{
    margin: 18px 0px 0px 65px;
}
.icon-user img{
    position: absolute;
    width: 25px;
    height: 25px;
}
.nav-second-menu .nav-ul-second-menu{
    list-style-type: none;
    margin: -8px 30px 0px 30px;
}
.nav-second-menu .nav-ul-second-menu li a{
    text-decoration: none;
    color: gray;
    font-family: Roboto, sans-serif;
    font-size: 10px;
}
.taikhoan{
    color: black;
    font-family: Roboto, sans-serif;
    font-size: 12px;
}
.nav-ul-second-menu-tk{
    list-style-type: none;
    margin: 0px 30px 0px 30px;
}

.nav-second-menu-tk .nav-ul-second-menu-tk li a{
    text-decoration: none;
    color: black;
    font-family: Roboto, sans-serif;
    font-size: 12px;
}
.icon-cart{
    margin: 20px 30px;
    list-style-type: none;
}
.icon-cart a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-family: Roboto, sans-serif;
}
/* ==========================menu-third===================== */
.menu-third .nav-menu-third .nav-ul-menu-third {
    list-style-type: none;
    margin: 0;
    padding: 10px 0pc 9px 11pc;
    overflow: hidden;
    text-align: center;
    background-color: #910000;
}
.menu-third .nav-menu-third .nav-ul-menu-third  li {
    display: inline-block;
    margin-left:10px ;
}
.menu-third .nav-menu-third .nav-ul-menu-third li a {
    color: white;
    padding: 10px 22px;
    text-decoration: none;
    font-size: 15px;
    font-family: Roboto, sans-serif;
}
.menu-third .nav-menu-third .nav-ul-menu-third li a i {
    margin: 0px 7px;
    
}
.menu-third .nav-menu-third .nav-ul-menu-third li a:hover {
    background-color:black ;
}
#toggle{
    display: none;
    margin-top: -7.1pc;
    background:white;
    color: black;
    text-align: left;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    width: 10%;
}
/* ======================main===================== */
.Rectangle-63{
    position: relative;
    width: 100%;
    height: 74pc;
    background-color: black;
    padding: 5px 50px;
}
#sidebar{
    position: relative;
    width: 200px;
    height: 420px;
    left: 20.5pc;
    top: 2px;
    background: #FFFFFF;
    border: 1px solid #B3B3B3;
    box-sizing: border-box;
    border-radius: 7px;
}
#sidebar #nav-sidebar .nav-ul-sidebar{
    position: absolute;
    list-style-type: none;
    overflow: hidden;
    text-align: left;
}
#sidebar #nav-sidebar .nav-ul-sidebar li{
    margin-left:10px ;
}
#sidebar #nav-sidebar .nav-ul-sidebar li a{
    text-decoration: none;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 550;
    font-size: 15px;
    line-height: 37px;
    color:black;
}
#sidebar #nav-sidebar .nav-ul-sidebar li a i{
    margin: 0px 7px;
}
.icon-ghe{
    margin-right: 4px;
}


.grid-01{
    position: relative;
    margin: -26.2pc 0px 0px 33.5pc;
    width: 1000px;
    height: 422px;
    border: 0px solid #CCC;
    display: grid;
    grid-gap: 8px;
    grid-template-columns:425px 260px 250px;
    grid-template-rows:  325px 90px;
}
.grid-01 .item1 {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}



.background-01{
    position: relative;
    margin: 0pc 0pc 0pc 0pc;
}
.background-01 img{
    width: 100%;
    height: auto;
}
.image-12{
    position: absolute;
    left: 1.5pc;
    top: 16.2pc;
}
.image-12 img{
    width: 100%;
    height: 120px;
}

.image-9{
    position: absolute;
    left: 4.5pc;
    top: 13.4pc;
}
.image-9 img{
    width: 100%;
    height: 125px;
}
.image-10{
    position: absolute;
    left: 28pc;
    top: 9.8pc;
}
.image-10 img{
    width: 100%;
    height: 180px;
}
.image-11{
    position: absolute;
    left: 12.5pc;
    top: 0.3pc;
}
.image-11 img{
    width: 100%;
    height: 300px;
}
.image-7{
    position: absolute;
    left: 13pc;
    top: 10pc;
}
.image-7  img{
    width: 100%;
    height: 230px;  
} 
.image-6{
    position: absolute;
    left: 2.5pc;
    top: 9pc;
}
.image-6  img{
    width: 100%;
    height: 260px;  
}    
.image-4{
    position: absolute;
    left: 23.5pc;
    top: 10pc;
}
.image-4 img{
    width: 100%;
    height: 260px;
    
}
.image-3{
    position: absolute;
    left: 19.6pc;
    top: 5.9pc;
}
.image-3 img{
    width: 100%;
    height: 210px;
}
.image-8{
    position: absolute;
    left: 10.5pc;
    top: 4.5pc;
}
.image-8 img{
    width: 100%;
    height: 230px;
}
/* LAPTOP GAMING */ 

.Rectangle-15 .h2-text-laptop{
    position: relative;
    text-align: center;
    width: 274.04px;
    height: 58px;
    left: 48pc;
    top:3pc;
    background: #FFFFFF;
    border: 6px solid #7F0000;
    box-sizing: border-box;
    border-radius: 98px;
    line-height: 44px;
    align-items: center;
    color: #7F0000;
    font-size: 19px;
    font-family: Roboto, sans-serif;
}
.Rectangle-15 .text-laptop{
    position: absolute;
    width: 241.53px;
    height: 29px;
    left: 52.2pc;
    top: 32.5pc;
    background: #7F0000;
    border-radius: 73px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 30px;
    align-items: center;
    text-align: center;
    color: white;
}
.grid-image-laptop{
    margin: 8pc 0px 0pc 26pc;
    display: grid;
    grid-gap:12pc;
    grid-template-columns: 186px 186px 186px;
}
.grid-image-laptop img{
    width: 177%;
    height: 200px;
}
.h2-th-laptop{
    margin: 4.5pc 15.6pc;
    position: absolute;
    width: 423.26px;
    height: 56.51px;
    left: 500.88px;
    top: 779.64px;

    background: #FFFFFF;
    border: 5px solid #7F0000;
    box-sizing: border-box;
    border-radius: 53.5px; 
    
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 188%;
    
    align-items: center;
    text-align: center;
    color: #7F0000;
}

.grid-image-th{
    margin: 4.5pc 34.9pc 5pc 35.9pc;
    background: #7F0000;
    border-radius: 55px;
    padding: 40px 55px 15px 55px; 
    display: grid;
    grid-template-columns: 155px 155px 155px;
    grid-template-rows: 60px 60px 60px;
    grid-column-gap: 50px;
    grid-row-gap: 15px;
}
.item{
    font-weight: bold;
    text-align: center;
    padding: 10px;

    background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(205, 205, 205) 51.04%, rgb(206, 206, 206) 100%);
    border-radius: 9px;
    border: 3px solid #FFFFFF;
    box-sizing: border-box;
} 

/* ======================Wrapper-02========================= */
.wrapper-02{
    position: relative;
    width: 100%;
    height: 34pc;
    background: #FFFFFF;
}
.text-xgear h2{
    position: absolute;
    width: 260px;
    height: 54px;
    left: 35pc;
    top: 1pc;

    background: #FFFFFF;
    border: 6px solid #7F0000;
    box-sizing: border-box;
    border-radius: 98px;
    color: #7F0000;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 183%;
    align-items: center;
    text-align: center;
}
.text-xgear p{
    position: absolute;
    width: 215px;
    height: 27px;
    left: 36.4pc;
    top: 3.5pc;

    background: #7F0000;
    border-radius: 73px;
    color: white;
    font-family: Roboto,sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 190%;
    align-items: center;
    text-align: center;
}

.text-monitor h2{
    position: absolute;
    width: 260px;
    height: 54px;
    right: 35pc;
    top: 1pc;

    background: #FFFFFF;
    border: 6px solid #7F0000;
    box-sizing: border-box;
    border-radius: 98px;
    color: #7F0000;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 183%;
    align-items: center;
    text-align: center;
}
.text-monitor p{
    position: absolute;
    width: 225px;
    height: 27px;
    right: 36.1pc;
    top: 3.5pc;

    background: #7F0000;
    border-radius: 73px;
    color: white;
    font-family: Roboto,sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 190%;
    align-items: center;
    text-align: center;
}
.img-48{
    position: absolute;
    left: 27pc;
    top: 8pc;
}
.img-48 img{
    width: 100%;
    height: auto;
}
.img-49{
    position: absolute;
    left: 36pc;
    top: 5.9pc;
} 
.img-49 img{
    width: 100%;
    height: auto;
}
.clip-Monitorv{
    position: absolute;
    right: 29.5pc;
    top: 8.5pc;
}
/* =====================Rectangle36========================= */
.wrapper-03{
    position: relative;
    width: 100%;
    height: 50pc;
    background: black;
}
.text-wrapper-03 h2{
    position: absolute;
    width: 260px;
    height: 54px;
    left: 52pc;
    top: 1pc;

    background: #FFFFFF;
    border: 6px solid #7F0000;
    box-sizing: border-box;
    border-radius: 98px;
    color: #7F0000;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 183%;
    align-items: center;
    text-align: center;
}
.text-wrapper-03 p{
    position: absolute;
    width: 230px;
    height: 27px;
    left: 53pc;
    top: 3.5pc;

    background: #7F0000;
    border-radius: 73px;
    color: white;
    font-family: Roboto,sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 190%;
    align-items: center;
    text-align: center;
}
.image-101{
    position: absolute;
    left: 27pc;
    top: 7pc;
}
.image-removebg{
    position: absolute;
    left: 47pc;
    top:8.5pc;
}
.image-60{
    position: absolute;
    left:65pc;
    top:9pc;
}
.image-73{
    position: absolute;
    right:33.2pc;
    top:9pc;
}
.image-79{
    position: absolute;
    right:29.5pc;
    top:7.5pc;
}
.image-75{
    position: absolute;
    right:44.5pc;
    top:14pc;
}
.image-76{
    position: absolute;
    right:41.8pc;
    top:17pc;
}
.image-77{
    position: absolute;
    right:36pc;
    top:14pc;
}
.image-78{
    position: absolute;
    right:31pc;
    top:17pc;
}
.image-58{
    position: absolute;
    right:25.5pc;
    top:15pc;
}
.image-71{
    position: absolute;
    left: 23pc;
    top: 27.5pc;
}
.image-72{
    position: absolute;
    left: 35.6pc;
    top: 28.3pc;
}
.image-57{
    position: absolute;
    left: 51pc;
    top: 25pc;
}
.image-62{
    position: absolute;
    left: 51pc;
    top: 32pc;
}
.image-68{
    position: absolute;
    right: 30.5pc;
    top: 23.5pc;
}
.image-74{
    position: absolute;
    right: 29pc;
    top: 33.5pc;
}
/* ===============Wrapper-04=============== */
.wrapper-04{
    position: relative;
    width: 100%;
    height: 32pc;
    background: white;
}
.text-wrapper-04 h2{
    position: absolute;
    width: 290px;
    height: 54px;
    left: 52pc;
    top: 2pc;

    background: #FFFFFF;
    border: 6px solid #7F0000;
    box-sizing: border-box;
    border-radius: 98px;
    color: #7F0000;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 183%;
    align-items: center;
    text-align: center;
}
.text-wrapper-04 p{
    position: absolute;
    width: 260px;
    height: 27px;
    left: 53pc;
    top: 4.2pc;

    background: #7F0000;
    border-radius: 73px;
    color: white;
    font-family: Roboto,sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 190%;
    align-items: center;
    text-align: center;
}
.text-wrapper-04 img{
    position: relative;
    left: 29pc;
    top:9pc;
}
/* =================Wrapper-05=============== */
.wrapper-05{
    position: relative;
    width: 100%;
    height: 46pc;
    background: black;
}
.text-01-wrapper-05 h2{
    position: absolute;
    width: 250px;
    height: 54px;
    left: 35pc;
    top: 2pc;

    background: #FFFFFF;
    border: 6px solid #7F0000;
    box-sizing: border-box;
    border-radius: 98px;
    color: #7F0000;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 183%;
    align-items: center;
    text-align: center;
}
.text-01-wrapper-05 p{
    position: absolute;
    width: 220px;
    height: 27px;
    left: 36pc;
    top: 4.2pc;

    background: #7F0000;
    border-radius: 73px;
    color: white;
    font-family: Roboto,sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 190%;
    align-items: center;
    text-align: center;
}
.text-02-wrapper-05 h2{
    position: absolute;
    width: 255px;
    height: 54px;
    right: 32pc;
    top: 2pc;

    background: #FFFFFF;
    border: 6px solid #7F0000;
    box-sizing: border-box;
    border-radius: 98px;
    color: #7F0000;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 183%;
    align-items: center;
    text-align: center;
}
.text-02-wrapper-05 p{
    position: absolute;
    width: 220px;
    height: 27px;
    right: 33pc;
    top: 4.2pc;

    background: #7F0000;
    border-radius: 73px;
    color: white;
    font-family: Roboto,sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 190%;
    align-items: center;
    text-align: center;
}
.text-01-wrapper-05 .img-80{
    position: absolute;
    left: 25pc;
    top:6pc;
}
.text-01-wrapper-05 .img-80 img{
    width: 100%;
    height: 300px;
}
.text-01-wrapper-05 .img-81{
    position:absolute;
    left: 25pc;
    top:25pc;
}
.text-01-wrapper-05 .img-81 img{
    width: 100%;
    height: 320px;
}
.text-02-wrapper-05 .img-82{
    position:absolute;
    right: 27pc;
    top:10pc;
}
.text-02-wrapper-05 .img-82 img{
    width: 100%;
    height: 200px;
}
.text-02-wrapper-05 .img-83{
    position:absolute;
    right: 27pc;
    top:29pc;
}
.text-02-wrapper-05 .img-83 img{
    width: 100%;
    height: 200px;
}
/* =====================footer===================== */
footer{
    position: relative;
    width: 100%;
    height: 20pc;
    background: black;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.hr{
    position: relative;
    width: 100%;
    height: 7px;
    background: #900000;
}
footer .container-footer{
    margin: 0pc 12pc;
    padding-left: 2pc;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}

.nav-01 h3{
    width: 240px;
    height: auto;

    font-family: Roboto,sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 80px;

    align-items: center;
    color: #FFFFFF;
}
.nav-01 ul{
    list-style-position: none;
}
.nav-01 ul li a{
    text-decoration: none;
    width: 140px;
    height: auto;
    left: 211px;
    top: 3514px;

    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 13px;
    line-height: 183%;

    align-items: center;
    color: #FFFFFF;
}

.nav-02 {
    position: relative;
    left: 7pc;
}
.nav-02 h3{
    width: 240px;
    height: auto;

    font-family: Roboto,sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 80px;

    align-items: center;
    color: #FFFFFF;
}
.nav-02 ul{
    list-style-position: none;
}
.nav-02 ul li a{
    text-decoration: none;
    width: 100px;
    height: auto;
    left: 211px;
    top: 3514px;

    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 13px;
    line-height: 183%;

    align-items: center;
    color: #FFFFFF;
}

.nav-03 {
    position: relative;
    left: 16pc;
}
.nav-03 h3{
    width: 120px;
    height: auto;

    font-family: Roboto,sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 80px;

    align-items: center;
    color: #FFFFFF;
}
.nav-03 ul{
    list-style-position: none;
}
.nav-03 ul li a{
    text-decoration: none;
    width: 250px;
    height: auto;

    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 13px;
    line-height: 183%;

    align-items: center;
    color: #FFFFFF;
}

.nav-04 {
    position: relative;
    left: 25pc;
}
.nav-04 h3{
    width: 120px;
    height: auto;

    font-family: Roboto,sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 80px;

    align-items: center;
    color: #FFFFFF;
}
.nav-04 ul{
    list-style-position: none;
}
.nav-04 ul li a{
    text-decoration: none;
    width: 140px;
    height: auto;
    left: 211px;
    top: 3514px;

    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 13px;
    line-height: 183%;

    align-items: center;
    color: #FFFFFF;
}
.nav-04 ul li a img{
    width: 2.8%;
    height: 2.8%;
    text-align: center;
    margin: -2px 5px;
}

.nav-05 {
    position: relative;
    left: 5pc;
}
.nav-05 h3{
    width: 140px;
    height: auto;

    font-family: Roboto,sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 80px;

    align-items: center;
    color: #FFFFFF;
}
.nav-05 ul li{
    list-style-position: none;
}
.nav-05 ul li a{
    text-decoration: none;
    width: 14 0px;
    height: auto;
    left: 211px;
    top: 3514px;

    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 13px;
    line-height: 183%;

    align-items: center;
    color: #FFFFFF;
}
.nav-05 ul img{
    position: relative;
    top:2pc;
}
